* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    background-image: url(../img/hero.png);
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    color: white;
}

.menu-container {
    display: flex;
    flex: none;
    justify-content: space-between;
}

.menu li{
    display: inline-block;
    margin-left: 15px;
    margin-top: 23px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu  li a{
    color: white;
    text-decoration: none;
}

.menu  li a:hover{
    color: rgb(239, 252, 125);
}

.legend {
    height: 500px;
    display:flex;
    flex: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.legend h1 {
    font-size: 91px;
    color: rgb(234, 255, 46);
    font-family: 'Staatliches', cursive;
}

.legend p {
    font-size: 38px;
    font-family: 'Staatliches', cursive;
}

.quote {
    color: rgba(255, 255, 255, 0.781);
    font-family: 'Staatliches', cursive;
    font-style: italic;
    font-size: 23px;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    text-align: center;
}

.is {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

span {
    color: rgb(234, 255, 46); 
    font-family: 'Staatliches', cursive;
    font-size: 22px;
}

.is h1 {
    color: rgb(234, 255, 46);
    font-size: 38px;
    font-family: 'Staatliches', cursive;
    margin-bottom: 25px;
}


section {
    border: 1px rgb(234, 255, 46) solid;
    border-radius: 16px;
    padding: 25px;
}

.image {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.781);
    font-style: italic;
    font-size: 16px;
}

.greenwich-image img {
    width: 650px;
}

.army-image img{
    width: 320px;
}